{% extends 'base.html' %}
{% block content %}
    <div class="feedback-container">
        <h1 class="feedback-title">Adicione sua Notícia</h1>
        <form action="{{url_for('addNoticia')}}" method="POST">
            <div class="form-group">
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" name="titulo" required>
            </div>

            <div class="form-group">
                <label for="autor">Autor(a):</label>
                <input type="text" id="autor" name="autor" required>
            </div>

            <div class="form-group">
                <label for="categoria">Categoria:</label>
                <select id="categoria" name="categoria" required>
                    <option value="">Selecione</option>
                    <option value="politica">Política</option>
                    <option value="economia">Economia</option>
                    <option value="esportes">Esporte</option>
                    <option value="tecnologia">Tecnologia</option>
                    <option value="cultura">Cultura</option>
                    <option value="saude">Saúde</option>
                    <option value="educacao">Educação</option>
                    <option value="meio-ambiente">Meio Ambiente</option>
                    <option value="entreterimento">Entreterimento</option>
                    <option value="ciência">Ciência</option>
                </select>
            </div>

            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <input type="text" id="descricao" name="descricao" required>
            </div>

            <div class="form-group">
                <label for="noticia">Notícia:</label>
                <textarea id="noticia" name="noticia" required></textarea>
            </div>

            <button type="submit" class="feedback-button">Enviar Notícia</button>
        </form>
    </div>
{% endblock content %}