{% extends 'base.html' %}
{% block content %}
    <div class="feedback-container">
        <h1 class="feedback-title">Envie seu Feedback</h1>
        <form action="#" method="POST">
            <div class="form-group">
                <label for="nome">Nome Completo:</label>
                <input type="text" id="nome" name="nome" required>
            </div>

            <div class="form-group">
                <label for="nascimento">Data de Nascimento:</label>
                <input type="date" id="nascimento" name="nascimento" required>
            </div>

            <div class="form-group">
                <label for="sexo">Sexo:</label>
                <select id="sexo" name="sexo" required>
                    <option value="">Selecione</option>
                    <option value="masculino">Masculino</option>
                    <option value="feminino">Feminino</option>
                    <option value="outro">Outro</option>
                </select>
            </div>

            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="form-group">
                <label for="comentario">Comentário:</label>
                <textarea id="comentario" name="comentario" required></textarea>
            </div>

            <button type="submit" class="feedback-button">Enviar Feedback</button>
        </form>
    </div>

    <div class="feedback-list">
        {% for dadosFeedbacks in feedbacks %}
          <div class="feedback-item">
            <div class="feedback-avatar">
              <img src="../imgs/avatar.png" alt="Avatar do usuário">
            </div>
            <div class="feedback-content">
              <h4>{{ dadosFeedbacks.Nome }}</h4>
              <p><strong>Sexo:</strong> {{ dadosFeedbacks.sexo }}</p>
              <p><strong>Data de Nascimento:</strong> {{ dadosFeedbacks.DataNasc }}</p>
              <p><strong>Email:</strong> {{ dadosFeedbacks.Email }}</p>
              <p>{{ dadosFeedbacks.Comentário }}</p>
            </div>
          </div>
        {% endfor %}
      </div>      

{% endblock content %}